.venv/
venv/
env/
.vscode/
.DS_Store


**/__pycache__/
**/.ipynb_checkpoints/
.ipynb_checkpoints/


**/data/raw/*.csv
**/data/*.csv
*.csv


**/catboost_info/
catboost_info/
*.tsv
*.json


**/mlartifacts/
mlartifacts/
**/mlruns/
mlruns/
*.db
mlflow.db


.env
*.env