# Системные файлы VS Code и других редакторов
.vscode/
.DS_Store

# Базы данных (чтобы не пушить огромные файлы .db или данные сессий)
*.db
*.sqlite
*.sql

# Временные файлы Python
__pycache__/
*.pyc

# Данные (если датасеты очень большие, их обычно не пушат на GitHub)
*.csv
